
.adminNav{
    float:left;
    background:grey;
    display:flex;
    width:100%;
    justify-content:space-evenly;
    height:2em;
}
.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: stretch;
}
.create{
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background-image:var(--adminMenu);
    padding:.5em;
}
.createButton{
    font-weight: bold;
    cursor:pointer;
}
.rounds{
    margin-left:0;
    margin-right:1em;
}
.playerList{
    list-style-type: none;
    font-size:85%;
}
.roundsAndImage{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.roundSpan{
}
.cloud{
    display:var(--cloudDisplay);
    background-image: url(https://lexicon-image-storage.s3.amazonaws.com/testImage/cloud.png);
    position:absolute;
    width:253px;
    height:117px;
    animation-iteration-count: infinite;
    overflow:hidden;
    z-index:0;
}
@keyframes cloud1{
    0% {left:0px;}
    50% {left:calc(100vw - 300px);}    
    100% {left:0px;}
}
@keyframes cloud2{
    0% {left:calc(100vw - 300px);}   
    50% {left:0px;} 
    100% {left:calc(100vw - 300px);}   
}
.cloud1{
    top:100px;
    left:0px;
    animation-name:cloud1;
    animation-duration: 200s;
}
.cloud2{
    top:437px;
    left:50vw;
    animation-name:cloud2;
    animation-duration: 210s;
}