.editMenu{
    text-align:left;
    cursor:pointer;
    width:15em;
    height:auto;
    float:left;
    z-index:5;
}
.heading{
    font-weight:bold;
    height:2em;
    margin-left:.5em;
}
.submenu{
    background:grey;
    text-align:left;
    visibility:hidden;
    padding:.25em;
    display:block;
}
.menuBlock, .item{
    margin-top: -1px;
}
.item{
    text-decoration:none;
    color:white;
    padding: .25em;
}

.heading:hover ~.submenu, 
.submenu:hover{
  opacity: 1;
  visibility:visible;
  display:block;
}