.editMenu{
    text-align:left;
    cursor:pointer;
    width:15em;
    height:auto;
    float:left;
    z-index:5;
}
.heading{
    font-weight:bold;
    height:2em;
    margin-left:.5em;
}
.submenu{
    color:white;
    background:grey;
    text-align:left;
    visibility:hidden;
    list-style-type: none;
}
.menuBlock, .item{
    padding: .25em;
    margin-top: -1px;
}
.item{
    padding:.5em;
    border: 1px solid rgb(100,100,100);
}

.heading:hover ~.submenu, 
.submenu:hover{
  opacity: 1;
  visibility:visible;
  display:block;
}