.main{
    background:blue;
    min-height:90vh;
    height:auto;
    width:95vw;
    background-image:url(https://lexicon-image-storage.s3.amazonaws.com/testImage/sky.png);
    background-size: 3px;
    color:black;
    padding:0;
}
.adminNav{
    float:left;
    background:grey;
    display:flex;
    width:100%;
    justify-content:space-evenly;
    height:2em;
}

.greyGrad{
    background-image:linear-gradient(to bottom right, gray, white);
    border:1px solid green;
    padding:.5em;
}
.gameHeading{
    font-family: 'Goblin One', cursive;
    font-size:110%;
}
.newPlayerForm{
    display:flex;    
    flex-wrap: wrap;
    justify-content: space-around;
}
.newPlayerSubmit{
    flex-basis: 100%;
    text-align: center;
}
.cloud{
    background-image: url(https://lexicon-image-storage.s3.amazonaws.com/testImage/cloud.png);
    position:absolute;
    width:253px;
    height:117px;
    animation-iteration-count: infinite;
    overflow:hidden;
    z-index:0;
}
@keyframes cloud1{
    0% {left:0px;}
    50% {left:calc(100vw - 300px);}    
    100% {left:0px;}
}
@keyframes cloud2{
    0% {left:calc(100vw - 300px);}   
    50% {left:0px;} 
    100% {left:calc(100vw - 300px);}   
}
.cloud1{
    top:100px;
    left:0px;
    animation-name:cloud1;
    animation-duration: 200s;
}
.cloud2{
    top:437px;
    left:50vw;
    animation-name:cloud2;
    animation-duration: 210s;
}