.mainBook{
    background:black;
    padding:2em;
    padding-left:0;
    margin-right:1em;
    margin-top:2em;
    max-width:900px;
}
.mainPage{
    position: relative;
    border-top:1em solid #dcddd4;
    border-right:1em solid grey;
    border-bottom:.5em solid #dcddd4;
    background-image: url("https://lexicon-image-storage.s3.amazonaws.com/gameLogos/paper.PNG");
    background-size: cover;
    width:100%;
}
.mainText{
    text-align:left;
    padding:1em;      
    font-family: 'Open Sans', sans-serif;
}