.mainBook{
    background-color:var(--bookCoverBackground-color);
    padding:2em;
    padding-left:0;
    margin-right:1em;
    margin-top:2em;
    max-width:900px;
}
.mainPage{
    position: relative;
    border-top:var(--bookDarkShadow-top);
    border-right:var(--bookLightShadow);
    border-bottom:var(--bookDarkShadow-bottom);
    background-image: var(--bookPaperUrl);
    background-size: cover;
    width:100%;
}
.mainText{
    text-align:left;
    padding:1em;      
    font-family: var(--bookMainFont);
}