.gameInfo{
    font-weight: bold;
    display:flex;
    justify-content: space-around;
}
.logo{
    max-width:50vw
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
}
.styleButton{
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-top:1px solid white;
    border-left:1px solid white;
    background-color:white;
    padding:.25em;
    margin:.25em;
    font-weight:bold;
    border-radius: 5px;
    width:15px;
    cursor:pointer;
}
.styleBar{
    border:1px solid black;
    width:8%;
    margin-left:2%;
}
.entryForm{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: baseline;
    position:absolute;
    left:50%;
    transform:translate(-50%); 
}
.desc{    
    width:300px;
    border:1px solid black;
    background-color:white;
    overflow:wrap;
}
@media only screen and (min-width: 600px) {
    .desc { width:450px;}
  }
@media only screen and (min-width: 900px) {
    .desc { width:650px;}
  }
.desc.preview{
    position:relative;
    text-align:left;
    margin:0;
    margin-top:20px;
    padding:.25em;

}
