.playMain {
    background-color:var(--background-color);
    background-image:var(--background-image);
    min-height: 90vh;
    height: auto;
    width: 95vw;
    color: black;
    padding: 0;
}
.gameInfo{
    font-weight: bold;
    display:flex;
    justify-content: space-around;
}
.logo{
    position:relative;
    max-width:50vw;
    left:50%;
    transform:translate(-50%); 
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
}
.styleButton{
    border:var(--outsetBorder);
    background-color:var(--styleButtonBackground);
    padding:.25em;
    margin:.25em;
    font-weight:bold;
    border-radius: 5px;
    width:15px;
    cursor:pointer;
}
.styleBar{
    border:var(--border);
    padding:2%;
    margin-left:2%;
    background-color:var(--styleBarBackground);
    text-align:center;
    display:flex;
}
.editEntry{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: baseline;
    position:absolute;
    left:50%;
    transform:translate(-50%); 
}
.entry{    
    width:300px;
    border:var(--border);
    background-color:var(--basicMenu);
    margin-top:10px;
    text-align:left;
    padding:.25em;
}
@media only screen and (min-width: 600px) {
    .entry { width:450px;}
  }
@media only screen and (min-width: 900px) {
    .entry { width:650px;}
  }
.entry.title #title{
    width:85%;
}
.unclaimedEntries{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.unclaimed{
    border:var(--outsetBorder);
    border-radius:5px;
    margin:.2em;
    padding:.15em;
    display:flex;
    align-items:flex-end;
    cursor:pointer;
}
.indicator{
    border:1px solid black;
    width:1em;
    height:1em;
    border-radius:100px;
    display:inline-block;
    margin-left:.3em;    
}
.indicator.off{
    display:none;
}
.indicator.false{
    background: var(--falseIndicator);
}
.indicator.true{
    background: var(--trueIndicator);
}
.linkedEntry{
    color:var(--linkedEntryColor);
}