.gameInfo{
    font-weight: bold;
    display:flex;
    justify-content: space-around;
}
.logo{
    max-width:50vw
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
}
.styleButton{
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-top:1px solid #c5c5c5;
    border-left:1px solid#c5c5c5;
    background-color:white;
    padding:.25em;
    margin:.25em;
    font-weight:bold;
    border-radius: 5px;
    width:15px;
    cursor:pointer;
}
.styleBar{
    border:1px solid black;
    padding:2%;
    margin-left:2%;
    background-color:grey;
    text-align:center;
}
.editEntry{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: baseline;
    position:absolute;
    left:50%;
    transform:translate(-50%); 
}
.entry{    
    width:300px;
    border:1px solid black;
    background-color:white;
    margin-top:10px;
    text-align:left;
    padding:.25em;
}
@media only screen and (min-width: 600px) {
    .entry { width:450px;}
  }
@media only screen and (min-width: 900px) {
    .entry { width:650px;}
  }
.entry.preview{
}
.entry.unclaimed{
}
.entry.title{
}
.entry.title #title{
    width:85%;
}
.unclaimedEntries{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.unclaimed{
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-top:1px solid #c5c5c5;
    border-left:1px solid#c5c5c5;
    border-radius:5px;
    margin:.2em;
    padding:.15em;
    display:flex;
    align-items:flex-end;
    cursor:pointer;
}
.indicator{
    border:1px solid black;
    width:1em;
    height:1em;
    border-radius:100px;
    display:inline-block;
    margin-left:.3em;
    
}
.indicator.false{
    background: radial-gradient(at 100% 0%, #FFFFFF, #AA4444);
}
.indicator.true{
    background: radial-gradient(at 100% 0%, #FFFFFF, #44AA44);
}