.reg-main{
    background-color:var(--background-color);
    background-image:var(--background-image);
    min-height:90vh;
    height:auto;
    width:95vw;
    padding:.25em;
    background-size: 3px;
    text-align: center;
}
input{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.reg-form{
    position: relative;
    border: var(--border);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    z-index: 4;
    margin-top: 1em;
}
input{
    color:var(--color);
}
.cloud{
    display:var(--cloudDisplay);
    background-image: url(https://lexicon-image-storage.s3.amazonaws.com/testImage/cloud.png);
    position:absolute;
    width:253px;
    height:117px;
    animation-iteration-count: infinite;
    overflow:hidden;

}
@keyframes cloud1{
    0% {left:0px;}
    50% {left:calc(100vw - 300px);}    
    100% {left:0px;}
}
@keyframes cloud2{
    0% {left:calc(100vw - 300px);}   
    50% {left:0px;} 
    100% {left:calc(100vw - 300px);}   
}
.cloud1{
    top:100px;
    left:0px;
    animation-name:cloud1;
    animation-duration: 200s;
}
.cloud2{
    top:437px;
    left:50vw;
    animation-name:cloud2;
    animation-duration: 210s;
}