/* c.f https://lukelowrey.com/css-variable-theme-switcher/ */
:root{
    --appBackground:url(https://lexicon-image-storage.s3.amazonaws.com/testImage/sky.png);
    --color:black;
    --border:1px solid black;
    --basicMenu:white;

    --background-color:blue;
    --background-image:url(https://lexicon-image-storage.s3.amazonaws.com/testImage/sky.png);
    --cloudDisplay:block; 
    
    --adminMenu:linear-gradient(to bottom right, gray, white);
    --navBarBackground:grey;

    --gameListBackground:rgba(255,255,255,0.25);

    --editSubMenuBackground:grey;
    --editItemColor:white;

    --joinAdminNav:grey;
    --joinHeadingFont: 'Goblin One', cursive;
    --joinHeadingFontSize:110%;

    --bookCoverBackground-color:black;
    --bookDarkShadow-top:1em solid #dcddd4;
    --bookDarkShadow-bottom:.5em solid #dcddd4;
    --bookLightShadow:.5em solid grey;
    --bookPaperUrl:url("https://lexicon-image-storage.s3.amazonaws.com/gameLogos/paper.PNG");
    --bookMainFont:'Open Sans', sans-serif;


    --outsetBorder:1px outset #c5c5c5;
    --styleButtonBackground:white;
    --styleBarBackground:grey;

    --falseIndicator:radial-gradient(at 100% 0%, #FFFFFF, #AA4444);
    --trueIndicator:radial-gradient(at 100% 0%, #FFFFFF, #44AA44);

    --linkedEntryColor:red;
    
    --confirmBackground-color:black;
}